body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-bottom: 0;
}

.footerimg{
  padding-top: 0;
  background: url('images/footerimg.jpg');
}

.parallax-container {
  height: 1080px;
}
.bckgrnd{
  margin-top: 500px;
  /*background: url(../images/backgroundOnHeader.fw.png)*/;
  width: 70%;
}

.back{
background: url(../images/backgroundOnHeader.fw.png);
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}